body {
  font-family: "Arial", sans-serif;
  background-color: #503815;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  text-align: center;
  background-color: #f6d26d;
  box-shadow: 10px 5px 5px rgb(160, 34, 34);

  padding: 20px;
  margin-top: 20px;
}

.pokemon-card {
  margin-top: 2rem;
  padding: 1rem;
}

h2 {
  color: #333;
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  font-weight: bolder;
  font-style: italic;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 8px solid whitesmoke;
}

ul {
  list-style-type: none;
  padding: 0;
}
h3 {
  text-decoration: whitesmoke underline 0.3rem;
  margin-bottom: 5px;
  text-align: left;
}

li {
  margin-bottom: 5px;
  text-align: left;
  padding-left: 1rem;
  font-family: monospace;
  font-weight: bolder;
}

#input {
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
}

#btn-search {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  background-color: #f2962c;
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 10px 5px 5px red;
}
